@charset "UTF-8";

body{
    background-color: rgb(205, 255, 238);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 107, 4);
}
#principal{
    text-align: center;
    background-color:  rgb(4, 107, 4) ;
    color: white;
}

h2{
    color: rgb(73, 104, 73);
}

.basico{
    color: rgb(64, 148, 68);
}

.intermediario{
    color: rgb(96, 109, 23);
}

.avancado{
    color: orange;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.678);
}