@charset "UTF8";

main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #033E8C;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #021f59d8;
    text-align: center;
}
body{
    background-image: linear-gradient(to right, #03588C, #021F59)
}
p{
    color: #033E8C;
    text-align: justify;
}
ul{
    text-align: left;
}